# Standard Qt style
BasedOnStyle: llvm
AccessModifierOffset: -4
BreakBeforeBinaryOperators: true
ColumnLimit: 80
Standard: Cpp11
IndentWidth: 4
BreakBeforeBraces: Linux

# Glogg-specific options
SpacesInParentheses: true
SpacesInSquareBrackets: true
DerivePointerAlignment: true
AccessModifierOffset: -2

BreakBeforeBraces: Custom
BraceWrapping:
    BeforeElse: true
    AfterFunction: true
