[Desktop Entry]
Name=glogg
GenericName=Log file browser
# %f because glogg supports only one file for now
Exec=glogg %f
Icon=glogg
Type=Application
Comment=A smart interactive log explorer.
Terminal=false
Categories=Qt;Utility;TextTools;Development;
MimeType=text/plain;
Actions=Session;NewInstance;

[Desktop Action Session]
Exec=glogg --load-session %f
Name=Open With Previous Session

[Desktop Action NewInstance]
Exec=glogg --multi %f
Name=Open In A New glogg Window
