{{ partial "head.html" . }}
<style>
    .not-found {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        min-height: 100vh;
        font-size: 200%;
        text-decoration: none;
        color: #363636;
    }

    .not-found a {
        display: inline-block;
    }
</style>
<a href="{{ .Site.BaseURL }}" class="not-found">
    Well, a fine little mess. Easy in, easy out. Another triumph.
</a>
{{ partial "tail.html" . }}
